.d-none {
  display: none;
}

body {
  background-color: #222;
  color: #fff;
  font-family: system-ui;
}

main {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  margin-bottom: 3rem;
  background: #ccc;
  background: linear-gradient(90deg, #93c5fd, #dbeafe);
  font-size: 3rem;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

form {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
  max-width: 380px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.form-group input {
  width: auto;
}

button[type="submit"].disabled .send,
button[type="submit"] .spinner,
button[type="submit"] .loading {
  display: none;
}

button[type="submit"] .send,
button[type="submit"].disabled .spinner,
button[type="submit"].disabled .loading {
  display: inline-block;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.list a {
  color: white;
  text-decoration: none;
}

.list li:hover a {
  color: #93c5fd
}