<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Superlikers MPG</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/radiografia/styles.css">

  <script src="assets/entries/scripts.js" defer></script>
</head>
<body>
  <main class="main">
    <h1 class="title">Entries MPG</h1>

    <form id="form">
      <p class="text-center">Crear un archivo de Excel ordenando la información de las entries que se descargan desde el panel.</p>

      <!-- input type file -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Subir archivo:</label>
        <input class="form-control" type="file" id="formFile">
      </div>

      <!-- input type radio -->
      <div class="mb-3">
        <label for="type" class="form-label">Tipo de respuesta:</label>
        <div class="form-group">
          <input type="radio" name="type" id="maintenance" value="maintenance">
          <label for="maintenance">Maintenance</label>
        </div>
      </div>

      <!-- submit button -->
      <button class="btn btn-primary" type="submit">
        <span class="d-none spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="d-none loading">Loading...</span>
        <span class="send">Enviar</span>
      </button>

      <!-- error message -->
      <div class="alert alert-danger error-message mt-3 d-none" role="alert">
        Ha ocurrido un error!
      </div>
  
      <!-- download file -->
      <div class="alert alert-success download mt-3 d-none" role="alert">
        Para descargar el archivo has click <a class="stretched-link" href="" download>aquí</a>.
      </div>
    </form>  
  </main>
</body>
</html>
